.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* رنگ دستگیره اسکرول */
  border-radius: 5px; /* گرد کردن گوشه‌ها */
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* رنگ هنگام هاور */
}

.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* رنگ پس‌زمینه */
}
