@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  font-family: "iranyekan", sans-serif;
}

/* Regular - Weight 400 */
@font-face {
  font-family: "iranyekan";
  src: url("./assets/fonts/yekan/woff2/iranyekan-regular.woff2") format("woff2"),
    url("./assets/fonts/yekan/woff/iranyekan-regular.woff") format("woff"),
    url("./assets/fonts/yekan/ttf/iranyekan-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Medium - Weight 500 */
@font-face {
  font-family: "iranyekan";
  src: url("./assets/fonts/yekan/woff2/iranyekan-medium.woff2") format("woff2"),
    url("./assets/fonts/yekan/woff/iranyekan-medium.woff") format("woff"),
    url("./assets/fonts/yekan/ttf/iranyekan-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* SemiBold - Weight 600 */
@font-face {
  font-family: "iranyekan";
  src: url("./assets/fonts/yekan/woff2/iranyekan-semibold.woff2")
      format("woff2"),
    url("./assets/fonts/yekan/woff/iranyekan-semibold.woff") format("woff"),
    url("./assets/fonts/yekan/ttf/iranyekan-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Bold - Weight 700 */
@font-face {
  font-family: "iranyekan";
  src: url("./assets/fonts/yekan/woff2/iranyekan-bold.woff2") format("woff2"),
    url("./assets/fonts/yekan/woff/iranyekan-bold.woff") format("woff"),
    url("./assets/fonts/yekan/ttf/iranyekan-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* ExtraBold - Weight 800 */
@font-face {
  font-family: "iranyekan";
  src: url("./assets/fonts/yekan/woff2/iranyekan-extrabold.woff2")
      format("woff2"),
    url("./assets/fonts/yekan/woff/iranyekan-extrabold.woff") format("woff"),
    url("./assets/fonts/yekan/ttf/iranyekan-extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* Black - Weight 900 */
@font-face {
  font-family: "iranyekan";
  src: url("./assets/fonts/yekan/woff2/iranyekan-black.woff2") format("woff2"),
    url("./assets/fonts/yekan/woff/iranyekan-black.woff") format("woff"),
    url("./assets/fonts/yekan/ttf/iranyekan-black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
